owasp-jsp-testing-tool/resources/attacks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="attacks">

		<xsd:complexType>

			<xsd:sequence>
				<xsd:element name="attack" type="attackType" maxOccurs="unbounded"
					minOccurs="1" >
				</xsd:element>
			</xsd:sequence>

		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="attackType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="display-name" type="xsd:string"/>
			<xsd:element name="attack-string" type="xsd:string"/>
		</xsd:sequence>	
	</xsd:complexType>	
</xsd:schema>